* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.App {
    width: 100vw;
    padding: 0px 25px;
}

.post {
    display: flex;
    padding: 15px;
    border: 2px solid rgb(144, 211, 196);
    margin-top: 15px;
    justify-content: space-between;
    align-items: center;
}

.postsOnSite {
    display: flex;
    justify-content: center;

}

.post__btns {
    display: flex;
}

.post-enter {
    transform: translateX(-350px);
  }
.post-enter-active {
    transform: translateX(0px);
    transition: all 500ms ease-in;
  }
.post-exit {
    opacity: 1;
  }
.post-exit-active {
    transform: translateX(-350px);
    transition: all 500ms ease-in;}

.page__wrapper {
    margin-top: 30px;
    display: flex;
}

.page {
    padding: 10px;
    border: 1px solid rgb(144, 211, 196);
    cursor: pointer;
    margin: 0px 10px;
}

.page__current {
    border: 2px solid rgb(236, 209, 209);
    font-weight: bold;
}

header {
    height: 50px;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 15px;
    background-color: rgb(144, 211, 196);
    ;
}

.navbar__links {
    display: flex;
    column-gap: 40px;
}

.active {
    color: white;
    cursor: default;
} 
.footer {
  background-color: #F1F1F1;
  text-align: center;
  padding: 10px;
  margin: 15px;
}