.MyH1 {
    display: flex;
    justify-content: center;
    padding: 10px 0 0 0;
}

li, p {
    display: flex;
    justify-content: center;
}

p {
    padding: 20px 0 0 0;
   
}

li {
    padding: 5px 0;
}